@import '../../assets/styleSheets/global';

.creatorProfile {
    img {
        box-shadow: .2rem .4rem .8rem $darkGray;
    }

    .profileContainer {
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 30px;
        grid-template: auto / max-content 1fr;

        @include break-at(lg) {
            grid-template: auto auto / auto;
        }

        .profileDesc {
            display: grid;
            grid-template: auto auto / auto auto;
            grid-gap: 10px;

            @include break-at(sm) {
                grid-template: auto / auto;
            }

            .profileBio {
                grid-column: 1 / span 2;

                @include break-at(sm) {
                    grid-column: 1;
                }
            }

            .profileTitle {
                align-self: end;
            }

            .profileContact {
                display: grid;
                grid-template: auto / 70px 70px;
                grid-gap: 6px;
                justify-content: end;
                align-self: end;

                @include break-at(sm) {
                    justify-content: start;
                }

                a {
                    background-color: none;
                    border-radius: 50%;
                    box-shadow: 0.1rem 0.2rem 0.4rem $darkGray;
                    cursor: pointer;
                    display: grid;
                    height: 60px;
                    position: relative;
                    transition: .25s all ease;
                    width: 60px;
                    align-self: center;
                    justify-self: center;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                        transform: scale(.9);
                    }
                }

                i {
                    align-self: center;
                    justify-self: center;
                    font-size: 30px;
                    color: $black
                }
            }
        }

        .spherenado {
            width: 350px;
            grid-template-rows: max-content 225px;

            .profileImg {
                justify-self: center;
                align-self: center;
                width: 200px;
                height: 200px;
                filter: brightness(120%) sepia(50%);
                background-color: $white;
                box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
                border-radius: 100px;

                .metal {
                    position: absolute;
                    margin: auto;

                    .clipCircle {
                        position: absolute;
                        padding: 0;
                        top: -16px;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        clip-path: circle(99px at center);

                        .cubeWrapper {
                            transform: rotateZ(-32deg);
                            width: 0;
                            height: 0;
                            top: 100px;
                            left: 100px;
                            position: absolute;
                            perspective-origin: 0 0;
                            perspective: 80px;

                            .cube-2 {
                                transform: translateZ(-100px) scaleX(1.8);
                                transform-style: preserve-3d;

                                .cube {
                                    top: -100px;
                                    position: relative;
                                    transform-style: preserve-3d;
                                    animation-name: rotate;
                                    animation-duration: 10s;
                                    animation-timing-function: linear;
                                    animation-iteration-count: infinite;

                                    .face {
                                        // metal image for overlay
                                        background-image: url(https://i.stack.imgur.com/PGmVN.jpg);
                                        position: absolute;
                                        background-size: 662.4px 200px;
                                        width: 84px;
                                        height: 200px;
                                        filter: contrast(150%) grayscale(100%);

                                    }

                                    #face1 {
                                        transform: translateX(-41.4px) translateZ(100px);
                                        background-position: 0 0;
                                    }

                                    #face2 {
                                        transform: translateX(29.2px) translateZ(70.8px) rotateY(45deg);
                                        background-position: -82.8px 0;
                                    }

                                    #face3 {
                                        transform: translateX(58.5px) rotateY(90deg);
                                        background-position: -165.6px 0;
                                    }

                                    #face4 {
                                        transform: translateX(29.2px) translateZ(-70.8px) rotateY(135deg);
                                        background-position: -248.4px 0;
                                    }

                                    #face5 {
                                        transform: translateX(-41.4px) translateZ(-100px) rotateY(180deg);
                                        background-position: -331.2px 0;
                                    }

                                    #face6 {
                                        transform: translateX(-111.4px) translateZ(-70.8px) rotateY(225deg);
                                        background-position: -414px 0;
                                    }

                                    #face7 {
                                        transform: translateX(-141.4px) rotateY(270deg);
                                        background-position: -496.8px 0;
                                    }

                                    #face8 {
                                        transform: translateX(-111.4px) translateZ(70px) rotateY(315deg);
                                        background-position: -579.6px 0;
                                    }
                                }
                            }
                        }
                    }

                    .circle {
                        position: absolute;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                    }

                    .lighting {
                        box-shadow: -20px -30px 100px 0 rgba(0, 0, 0, 0.9) inset, -75px -100px 107px 0 rgba(0, 0, 0, 0.3) inset, 75px 100px 127px 0 rgba(255, 255, 255, 0.23) inset;

                        &:after {
                            box-shadow: 0 0 42px 20px rgba(255, 255, 255, 0.7), 0 0 7px 6px rgba(255, 255, 255, 0.9);
                            content: '';
                            position: absolute;
                            top: 50px;
                            left: 67px;
                        }
                    }

                    .reflection:before {
                        opacity: 0.3;
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 200px;
                        width: 200px;
                        // profile image
                        background-image: url('./../../assets/images/profile-2022.png');
                        background-size: 200px 200px;
                        border-radius: 50%;
                    }
                }

                @keyframes rotate {
                    0% {
                        transform: rotate3d(0 0, 0, 360deg);
                    }

                    100% {
                        transform: rotate3d(0, 1, 0, 360deg);
                        ;
                    }
                }
            }

            #circleContainer {
                transform: rotateX(75deg);
                width: 360px;
                height: 0px;

                .circle-1 {
                    width: 400px;
                    height: 400px;
                    border-radius: 200px;
                    box-shadow: 1px 25px 0px 0px $black inset, 5px 10px 0px 50px $white inset;
                    animation: spin .4s infinite linear;
                    z-index: 1;
                    background: rgba(0, 0, 0, 0.5);
                }

                .circle-2 {
                    position: absolute;
                    z-index: -10;
                    top: 140px;
                    width: 350px;
                    height: 350px;
                    border-radius: 165px;
                    background: rgba(0, 0, 0, 0.3);
                    box-shadow: 2px 10px 0px 0px dimgrey inset, 4px 1px 0px 50px $white inset;
                    animation: spin .2s infinite linear;
                }

                .circle-3 {
                    position: absolute;
                    z-index: -20;
                    top: 240px;
                    left: 20px;
                    width: 300px;
                    height: 300px;
                    border-radius: 150px;
                    box-shadow: 1px 10px 0px 0px $black inset, 4px 1px 0px 50px $white inset;
                    animation: spin .4s infinite linear;
                    background: rgba(0, 0, 0, 0.5);
                }

                .circle-4 {
                    position: absolute;
                    z-index: -30;
                    top: 400px;
                    left: 60px;
                    width: 230px;
                    height: 230px;
                    border-radius: 115px;
                    box-shadow: 5px 0px 0px 0px $black inset, 4px 1px 0px 50px $white inset;
                    animation: spin .2s infinite linear;
                    background: rgba(220, 220, 220, 0.5);
                }

                .circle-5 {
                    position: absolute;
                    z-index: -40;
                    top: 490px;
                    left: 80px;
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                    box-shadow: 5px 0px 0px 1px gray inset, 4px 1px 0px 50px gainsboro inset;
                    animation: spin .3s infinite linear;
                    background: rgba(105, 105, 105, 0.9);
                }

                .circle-6 {
                    position: absolute;
                    z-index: -50;
                    top: 590px;
                    left: 80px;
                    width: 150px;
                    height: 150px;
                    border-radius: 100px;
                    box-shadow: 1px 16px 0px 0px $black inset, 5px 10px 0px 50px $white inset;
                    animation: spin .3s infinite linear;
                    background: rgba(0, 0, 0, 0.5);
                }

                .circle-7 {
                    position: absolute;
                    z-index: -60;
                    top: 670px;
                    left: 80px;
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    box-shadow: 1px 5px 0px 10px dimgrey inset, 3px 1px 0px 10px $white inset;
                    animation: spin .3s infinite linear;
                    background: rgba(200, 200, 200, 1);
                }

                .circle-8 {
                    position: absolute;
                    z-index: -70;
                    top: 720px;
                    left: 80px;
                    width: 80px;
                    height: 80px;
                    border-radius: 40px;
                    box-shadow: 2px 10px 0px 0px $black inset, 4px 1px 0px 50px $white inset;
                    animation: spin .3s infinite linear;
                    background: rgba(0, 0, 0, 0.5);
                }

                .circle-9 {
                    position: absolute;
                    z-index: -80;
                    top: 780px;
                    left: 90px;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    box-shadow: 1px 10px 0px 0px #708090 inset, 4px 1px 0px 50px $white inset;
                    animation: spin .4s infinite linear;
                    background: rgba(0, 0, 0, 0.5);
                }

                .circle-10 {
                    position: absolute;
                    z-index: -90;
                    top: 820px;
                    left: 100px;
                    width: 25px;
                    height: 25px;
                    border-radius: 15px;
                    box-shadow: 1px 10px 0px 0px #2F4F4F inset, 4px 1px 0px 50px $white inset;
                    animation: spin .4s infinite linear;
                    background: rgba(0, 0, 0, 0.5);
                }

                .circle-11 {
                    position: absolute;
                    z-index: -100;
                    top: 840px;
                    left: 110px;
                    width: 15px;
                    height: 15px;
                    border-radius: 8px;
                    box-shadow: 1px 10px 0px 0px $black inset, 4px 1px 0px 50px $white inset;
                    animation: spin .2s infinite linear;
                    background: rgba(0, 0, 0, 0.5);
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                @keyframes spinoff {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(-360deg);
                    }
                }
            }
        }

    }
}