@import '../../assets/styleSheets/global';

.resumeCMS {
    .resumeCMSFormContainer {
        display: grid;
        grid-template: auto / 1fr 1fr 1fr;
        grid-gap: 20px;

        @include break-at(lg) {
            grid-template: max-content max-content max-content / auto;
        }

        form {
            width: 100%;
            max-width: 420px;

            .btn {
                // Prevents buttons from being ontop of dropdown selectors
                z-index: 0;
            }
        }
    }

    .datePicker {
        display: flex;

        .react-datepicker-wrapper,
        .react-datepicker__input-container,
        .react-datepicker__input-container input {
            width: 100%;
        }

        .react-datepicker__close-icon::before,
        .react-datepicker__close-icon::after {
            background-color: grey;
        }

        input {
            border: 2px solid $black;
            border-radius: 3px;
            background-color: $gray;
            box-sizing: border-box;
            display: block;
            margin: 0;
            width: 100%;
            padding: 6px;
        }
    }
}