@import '../../../assets/styleSheets/global';

.scrollTrigger {
    .main {
        .section {

            max-width: 300px;

            &:nth-child(odd) {
                p {
                    color: $blue;
                }

                i {
                    color: $greenSock
                }
            }

            &:nth-child(even) {
                p {
                    color: $ruby;
                }

                i {
                    color: $robinsEgg
                }
            }

            &:nth-last-child(1) {
                border: none !important;
            }
        }
    }
}