// COLORS
$navy: #005cb9;
$robinsEgg: #13cbb6;
$blue: #55bbeb;
$gold: lighten(#bdae8f, 10%);
$brown: #bdae8f;
$black: #343434;
$white: #ffffff;
$yellow: #ffd447;
$purple: #7f61d1;
$ruby: #f11c60;
$gray: #eeeeee;
$darkGray: #888888;

// System Colors
$success: #4BB543;
$failure: #FC100D;
$info: #005cb9;

// Brand Colors
$mongoDB: #389c44;
$express: #cd7871;
$react:#61dafb;
$node: #9bc148;
$auth0: #eb5424;
$bootstrap: #7952b3;
$facebook: #3b5998;
$instagram: #30618A;
$snapChat:#fffc00;
$steam:#9cbbc7;
$soundCloud:#ff7700;
$linkedIn:#0e76a8;
$stackOverflow:#ef8236;
$gitHub:#000000;
$xBox: #107C10;

// Product Color Options
$darkLiver: #52414C;
$ebony: #596157;
$middleGreen: #5B8C5A;
$khaki: #CFD186;
$fireOpal: #E3655B;

// Toggle Switch Colors
$label: #bbb;
$disabled: #ddd;
$toggle: #4BB543;
$focus: #ff0;

// Code Snippet Colors
$var: #ADD8E6;